*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  width: 100%;
  min-height: 100vh;
  background: #232931;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap header{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  height: 60px;
}
.wrap header .turn{
  flex-grow: 1;
  background: #393E46;
  margin-right: 5px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #EEEEEE;
  line-height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  
}
.wrap header .turn .player{
  margin-right: 10px;
  width: 40px;
  
}
.wrap header .wrap-reset{
  background: #EEEEEE;
  font-size: 30px;
  width: 60px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}
.wrap-board{
  
  display: grid;
  grid-template-columns: 90px 90px 90px;
  grid-template-rows: 90px 90px 90px;
  gap: 10px;
  justify-content: center;
}

.wrap-board .tile{
  border-radius: 15px;
  background: #393E46;
  border: none;
  font-weight: bolder;
  font-size: 4rem;
  cursor: pointer;
}

.wrap-board .tile:hover{
  background: #7d7f83;
}

.x-tile{
  color: #4ECCA3;
}

.o-tile{
  color: #FA5B5B;
}

footer{
  flex-grow: 1;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px 40px;
  gap: 20px;
  justify-content: center;
}
.score{
  color: #232323;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  padding: 10px;
  text-align: center;
  background: #232323;
  border-radius: 20px;
}

#scoreX{
  background: #4ECCA3;
  transition: 0.5s;
}
#scoretie{
  background: #EEEEEE;

}
#scoreO{
  background: #FA5B5B;
}
.btn-clear{
  grid-column: 1 / 4;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.4s;
  background: #f2c54a;
}

.btn-clear:hover{
  background: #eac662;
}

.wrap-popup{
  width: 300px;
  height: 150px;
  background: #D9D9D9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: absolute;
  top: -150px;
  transition:0.3s ease-in;
}

.wrap-popup .wrap-result{
  font-size: 30px;
  font-weight: bold;
  color: #393E46;
}
.xwin{
  color: #4ECCA3;
}
.owin{
  color: #FA5B5B;
}
.tie{
  color: #393E46;
}
.point{
  color: #d8bf2d;
  font-size: 20px;
  font-weight: bold;
}

.close{
  width: 100%;
  padding: 5px;
  margin-top: 15px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #AB5CB8;
  font-size: 15px;
  font-weight: bold;
  color: #D9D9D9;
}

.close:hover{
  opacity: 0.7;
}

@media only screen and (min-width: 1024px){
  .wrap-board{
    grid-template-columns: 130px 130px 130px;
    grid-template-rows: 130px 130px 130px;
    gap: 15px;
  }
  .wrap-board .tile{
    font-size: 5rem;
  }
  .score{
    font-size: 22px;
  }
}

