.wrap-popup{
    width: 300px;
    height: 150px;
    background: #D9D9D9;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: -150px;
    transition:0.5s ease-in 0.2s;
}

.wrap-popup .wrap-result{
    font-size: 30px;
    font-weight: bold;
    color: #393E46;
}
.xwin{
    color: #4ECCA3;
}
.owin{
    color: #FA5B5B;
}
.tie{
    color: #393E46;
}
.point{
    color: #d8bf2d;
    font-size: 20px;
    font-weight: bold;
}

.close{
    width: 100%;
    padding: 5px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #AB5CB8;
    font-size: 15px;
    font-weight: bold;
    color: #D9D9D9;
}

.close:hover{
    opacity: 0.7;
}